<a href="https://colab.research.google.com/github/NavyasreePurimitla/Python/blob/main/Basics_of_Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dynamic Typing**

 We can assign more tham one value to a variable but the variable stores last updated value. Previous values are given to garbage value

In [ ]:
x = 10
x = "Now a string"
x

'Now a string'

**Multiple Assignments**

In  python we can assign one value to multiple variables in a single line

In [ ]:
a = b = c = 200
print(a,b,c)

200 200 200

In [ ]:
#Example Usage of Type()
print("Usage of Type()")
print()
n = 56
f = 35.44
g = "Good Morning!"
h = [1,4,6,7,9]
d = {'key' : 'value'}
bool = True
print(type(n))
print(type(f))
print(type(g))
print(type(h))
print(type(d))
print(type(bool))

Usage of Type()

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

Note:

1. Python does not support array becaues it has same capabilities
2. If they want to use array we required numpy
#Python numbers
In python, numbers are a core data-type essential for performing arithmaetic operations and calculations including integers, floating-point numbers and complex numbers

In [ ]:
a = 3.14      #A positive float
b = -0.99     #A negative float
c = 0.0      # A float value is a zero

**Python Boolean**

Python Boolean type is one of the built-in data types provided by Python, which represents one of the two values i.e. truth values of the expressions

In [ ]:
a = True
print(type(a))

b = False
print(type(b))
print("vantharr")

<class 'bool'>
<class 'bool'>
vantharr

**Python String**

String is a data type in python is the single character or group of character encoded with double quoted comma.

In [ ]:
s = "number 1 institue for Data Science for all @vantharr"
print(s)

number 1 institue for Data Science for all @vantharr

**Operators**

    Python Operators are symbols that perform operations on values and variables.
1. Arithmetic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operators
5. Bitwise Operators

**[01]  Arithmetic Operators**

In [ ]:
#Variables
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

print("\nAddition: ", a+b)
print("\nSubtraction: ", a-b)
print("\nMultiplication: ", a*b)
print("\nDivision: ", a/b)
print("\nModulus: ", a%b)
print("\nExponent: ", a**b)
print("\nFloor Division: ", a//b)

Enter the value of a: 33
Enter the value of b: 20

Addition:  53

Subtraction:  13

Multiplication:  660

Division:  1.65

Modulus:  13

Exponent:  2345734188103679287078463273601

Floor Division:  1