<a href="https://colab.research.google.com/github/NavyasreePurimitla/Python/blob/main/Basics_of_Python_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures**

Data structures are fundamental constructs for organizing and storing data efficiently. Python offers both built-in and user-defined data structures.

Built-in Data Structures:

1.   Lists
2.   Tuples
3.   Sets
4. Dictionaries

# **Lists**

Python Lists are just like arrays, declared in other languages which is an Ordered Collection of Data.
* It is very Flexible as the items in a list do not need to be of the same type.
* The implementation of Python List is similar to Vectors in C++ or ArrayList in JAVA.
* The costly operation is inserting or deleting the element from theh begining of the List as all the elements are needed to be shifted.
* Insertion and deletion at the end of the list can also become costly in the case where the preallocated memory becomes full.

**O**rdered, mutable sequences of items.
They can store heterogeneous data and allow duplicate values.

In [31]:
#Creating a List
fruit_list = ["apple", "banana", "cherry", "orange"]
print(fruit_list)

['apple', 'banana', 'cherry', 'orange']

In [32]:
#Accessing Elements
print(fruit_list[0])
print(fruit_list[-1])

apple
orange

*Note:*

* With the help of append function we can define the value can be added always at the end position of the structure.
* With the help of add function we can define at which location my value should be ended.

In [33]:
#Adding another elememt in the given fruit_list
fruit_list.append("papaya")
print(fruit_list)

['apple', 'banana', 'cherry', 'orange', 'papaya']

In [34]:
#Reverse the elements in the given fruit_list
fruit_list.reverse()
print(fruit_list)

['papaya', 'orange', 'cherry', 'banana', 'apple']

In [35]:
#Removing the element in the given fruit_list
fruit_list.remove("cherry")
print(fruit_list)

['papaya', 'orange', 'banana', 'apple']

In [36]:
#Creating City_name
city_name = ["Delhi", "Mumbai", "Kolkata", "Chennai"]
print(city_name)

['Delhi', 'Mumbai', 'Kolkata', 'Chennai']

In [38]:
#Creating a Student_name
student_name = ["navyasree", "Madhan", "Priya", "Imran"]
student_name

['navyasree', 'Madhan', 'Priya', 'Imran']

#**Indexing**

Indexing refers to accessing individual elements of a sequence(like a list) using its position(index).

*Note:*

Python follows Zero based Indexing

*Note:*

* In Python if we not define the starting value by default from zero index number it will start.
* Because Python supports zero based indexing so the end value will be excluded.
* If we want to print the last index we will let it blank.

*Note:*

* Accessing a single element
* in python the indexing starts from "0" and increses if we do forword indexing
* in python the indexing starts from "-1" and increses(negatively) if we do backward indexing

In [39]:
#Examples of Indexing
#Positive Indexing
numbers = [10, 20, 30, 40, 50]
print(numbers[3])

40

In [42]:
#Negative Indexing
letter = ["a", "b", "c", "d", "e"]
print(letter[-2])

d

In [46]:
list = [10, 45, 78, 35, 22]
print(list[1:4])

[45, 78, 35]

In [44]:
print(list[2:])

[78, 35, 22]

In [47]:
print(list[2:-1:2])

[78]