<a href="https://colab.research.google.com/github/NavyasreePurimitla/Python/blob/main/sets02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#write a program to input eight numbers from the user and display all the unique number
s = set()

s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
print(s)

Enter the number: 23
Enter the number: 23
Enter the number: 24
Enter the number: 26
Enter the number: 36
Enter the number: 87
Enter the number: 77
Enter the number: 66
{'23', '66', '26', '36', '77', '87', '24'}

In [2]:
#can we have a set with 23 (int) and 23 (str) as a values in it:
s = set()
print(type(s))

s.add(23)
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))
s.add(input("Enter the number: "))

print(s)

<class 'set'>
Enter the number: 23
Enter the number: 45
Enter the number: 44
Enter the number: 77
Enter the number: 66
Enter the number: 88
Enter the number: 99
Enter the number: 22
Enter the number: 11
{'22', '23', '45', '44', '66', '99', 23, '88', '77', '11'}